<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'items/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'items/style.css' %}">
        <title>Edit DB</title>
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li>
                            <a href="/"><img height="30" width="30" src="{% static "items/images/New-Logo-1.png" %}" alt="main logo"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/quotes">Quotes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/items">Database</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li>
                                <a class="nav-link" href="/account/profile">Account</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/account/logout">Log Out</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="/account/login">Login</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/account/sign_up">Sign Up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </header>
        <h1>Edit database</h1>
        <h3>Database</h3>
        <form method="POST" enctype="multipart/form-data" action="/items/importcsv/">{% csrf_token %}
            <input id="fileupload" name="myfile" type="file" accept=".csv"/>
            <input type="submit" value="submit" id="submit" />
            <p>Please make sure your .csv file has an empty line or reader on the first line or it will be deleted</p>
        </form>
        <table>
            <thead>
                <tr>
                    <td></td>
                    {% for item in column_list %}
                        <td> {{ item }} </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for a in test %}
                    <tr>
                        <form action="." method="POST">{% csrf_token %}
                            <td><input type="hidden" id='{{ a.pk }}' value="{{ a.pk }}" name="items"></td>
                            <td> {{ a.item_code }} </td>
                            <td> {{ a.item_description }} </td>
                            <td> {{ a.item_price }} </td>
                            <td><input type="submit" name="edit_item" value="Edit"></td>
                            <td><input type="submit" name="delete_item" value="Delete"></td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
    </body>
</html>