<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'items/style.css' %}">
        <title>Inventory</title>
    </head>
    <body>
        {% load static %}
        <a href="/"><img src="{% static "items/images/New-Logo-1.png" %}" alt="main logo"></a>
        <a href="/items/edit">Edit</a>
        <h1>Database</h1>
        <table>
            <thead>
                <tr>
                    {% for item in column_list %}
                        <td> {{ item }} </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for a in test %}
                    <tr>
                        <td> {{ a.item_code }} </td>
                        <td> {{ a.item_description }} </td>
                        <td> {{ a.item_price }} </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </body>
</html>