<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'items/style.css' %}">
        <link rel="stylesheet" href="{% static 'items/bootstrap.css' %}">
        <title>Inventory</title>
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li>
                        <a href="/"><img height="30" width="30" src="{% static "items/images/New-Logo-1.png" %}" alt="main logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/items">Database</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="/account/profile">Account</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/logout">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/sign_up">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <h1>Database</h1>
        <table>
            <thead>
                <tr>
                    {% for item in column_list %}
                        <td> {{ item }} </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for a in test %}
                    <tr>
                        <td> {{ a.item_code }} </td>
                        <td> {{ a.item_description }} </td>
                        <td> R{{ a.item_price }} </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>
        <a href="/items/new">New Item</a>
        <a href="/items/edit">Edit Items</a>
    </body>
</html>