<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'items/style.css' %}">
        <link rel="stylesheet" href="{% static 'items/bootstrap.css' %}">
        <title>New Item</title>
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li>
                        <a href="/"><img height="30" width="30" src="{% static "items/images/New-Logo-1.png" %}" alt="main logo"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/items">Database</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="/account/profile">Account</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/logout">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/sign_up">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <form action="." method="POST">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Save">
            <a href="/items/edit/">Cancel</a>
        </form>
    </body>
</html>