<!DOCTYPE html>
<html>
    <head>
        <title>New Quote</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'items/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'items/style.css' %}">
    </head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <div class="navbar-nav-scroll">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/items">Database</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a class="nav-link" href="/account/profile">Account</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/logout">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/account/sign_up">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <form action="." method="POST">{% csrf_token %}
            <label for="quote_employee">Employee: </label>
            <input type="text" name="quote_employee" id="quote_employee" value="{{ user }}" readonly>
            <label for="quote_customer">Customer Name</label>
            {{ form.quote_customer }}
            <label for="quote_address">Customer Address</label>
            {{ form.quote_address }}
            {{ form.quote_items.hidden }}
            <label for="quote_price">Price: </label>
            <p>R {{ form.quote_price }}</p>
            <input type="submit" value="Save">
        </form>
    </body>
</html>